<section class="welcome-section">

  <div class="splash">
     <%=	image_tag 'stylish-background.jpg', class: 'stylish-background'  %>
     <div class="main-container">
       <div class="logo-container">
         <h1 class="logo-container-items label-name">Fake Record Label</h1>
         <%= image_tag 'random_logo.png', class: "logo logo-container-items" %>
       </div>
       <div class="links-container">
         <span class="links"><a href="">Link 1</a></span>
         <span class="links"><a href="">| Link 1</a></span>
       </div>
     </div>
  </div>

  <div class="about-us">
    <div class="about-us-content">
      <h1>We're a fake record label stupids</h1>
      <p>Not only do we do record label stuff, we do record label stuff</p>
      <p>Really though.</p>
    </div>
  </div>


  <div class="roster-and-albums">
   <div class="row roster-and-albums-content">
     <div class="col-md-6 text-center roster">
       <h2>Current Roster</h2>
      <% @bands.each do |b| %>
          <h3><%= link_to b.band_name, band_path(b.id) %></h3>
          <p><%=b.city %>, <%=b.state %></p>
      <% end %>
      </div>
      <div class="col-md-6 text-center new-releases">
        <h2>Recent and Upcoming Releases</h2>
        <% @ordered_albums.each do |b| %>
          <p><%=	b.title  %>, <%=	b.release_date.to_formatted_s(:long_ordinal)  %>, <%= b.bands[0].band_name %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container news">
    <div class="row news-content">
      <div class="col-md-6">
        <h2>News and Updates</h2>
        <p>Here's where the fucking news and updates are gonna be</p>
      </div>
      <div class="col-md-6">
        <h2>Upcoming Tours</h2>
        <p>Eventually I'll have some stupid tours here</p>
      </div>
    </div>
  </div>
</section>

