<section class="container-fluid welcome-section">

  <div class="splash">
     <%=	image_tag 'stylish-background.jpg', class: 'stylish-background'  %>
     <div class="main-container">
       <div class="logo-container">
         <h1 class="logo-container-items label-name">Fake Record Label</h1>
         <%= image_tag 'random_logo.png', class: "logo logo-container-items" %>
       </div>
       <div class="links-container">
         <span class="links"><a href="">Link 1</a></span>
         <span class="links"><a href="">| Link 1</a></span>
       </div>
     </div>
  </div>

  <div class="about-us">
    <div class="about-us-content">
      <h1>We're a fake record label stupids</h1>
      <p>Not only do we do record label stuff, we do record label stuff</p>
      <div class="reviews-container">
        <p class="review">Spicy jalapeno bacon ipsum dolor amet t-bone shank spare ribs chicken ball tip kevin shankle capicola swine sirloin tail meatball tongue chuck. Tongue beef salami porchetta, burgdoggen flank pig pastrami cow picanha chicken meatball ham hock. Pork loin sirloin turducken tri-tip ham capicola. Chicken hamburger kielbasa pork chop burgdoggen chuck pig ribeye sirloin spare ribs fatback ham hock pork loin tail picanha.</p>
        <p class="review">Spicy jalapeno bacon ipsum dolor amet t-bone shank spare ribs chicken ball tip kevin shankle capicola swine sirloin tail meatball tongue chuck. Tongue beef salami porchetta, burgdoggen flank pig pastrami cow picanha chicken meatball ham hock. Pork loin sirloin turducken tri-tip ham capicola. Chicken hamburger kielbasa pork chop burgdoggen chuck pig ribeye sirloin spare ribs fatback ham hock pork loin tail picanha.</p>
        <p class="review">Spicy jalapeno bacon ipsum dolor amet t-bone shank spare ribs chicken ball tip kevin shankle capicola swine sirloin tail meatball tongue chuck. Tongue beef salami porchetta, burgdoggen flank pig pastrami cow picanha chicken meatball ham hock. Pork loin sirloin turducken tri-tip ham capicola. Chicken hamburger kielbasa pork chop burgdoggen chuck pig ribeye sirloin spare ribs fatback ham hock pork loin tail picanha.</p>
        <p class="review">Spicy jalapeno bacon ipsum dolor amet t-bone shank spare ribs chicken ball tip kevin shankle capicola swine sirloin tail meatball tongue chuck. Tongue beef salami porchetta, burgdoggen flank pig pastrami cow picanha chicken meatball ham hock. Pork loin sirloin turducken tri-tip ham capicola. Chicken hamburger kielbasa pork chop burgdoggen chuck pig ribeye sirloin spare ribs fatback ham hock pork loin tail picanha.</p>
        <p class="review">Spicy jalapeno bacon ipsum dolor amet t-bone shank spare ribs chicken ball tip kevin shankle capicola swine sirloin tail meatball tongue chuck. Tongue beef salami porchetta, burgdoggen flank pig pastrami cow picanha chicken meatball ham hock. Pork loin sirloin turducken tri-tip ham capicola. Chicken hamburger kielbasa pork chop burgdoggen chuck pig ribeye sirloin spare ribs fatback ham hock pork loin tail picanha.</p>
        <p class="review">Spicy jalapeno bacon ipsum dolor amet t-bone shank spare ribs chicken ball tip kevin shankle capicola swine sirloin tail meatball tongue chuck. Tongue beef salami porchetta, burgdoggen flank pig pastrami cow picanha chicken meatball ham hock. Pork loin sirloin turducken tri-tip ham capicola. Chicken hamburger kielbasa pork chop burgdoggen chuck pig ribeye sirloin spare ribs fatback ham hock pork loin tail picanha.</p>
      </div>
    </div>
  </div>


  <div class="container roster-and-albums">
   <div class="row roster-and-albums-content">
     <div class="col-md-6 col-sm-12 col-xs-12 text-center roster">
       <h2>Current Roster</h2>
       <div class="roster-list">
        <% @bands.each do |b| %>
          <h3><%= link_to b.band_name, band_path(b.id) %></h3>
          <p><%=b.city %>, <%=b.state %></p>
        <% end %>
       </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 text-center new-releases">
        <h2>Recent and Upcoming Releases</h2>
        <div class="new-releases-list">
        <% @ordered_albums.each do |b| %>
          <% if b.avatar? %>
            <%= image_tag b.avatar.thumb, class: 'welcom-album-art' %>
          <% else %>
           <%=	image_tag('http://www.onlineworldofwrestling.com/wp-content/uploads/2012/06/stone_cold_steve_austin_01.png', class: 'welcom-album-art')  %>
          <% end %>         
           <p><%=	b.title  %>, <%=	b.release_date.to_formatted_s(:long_ordinal)  %>, <%= b.bands[0].band_name %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container news">
    <div class="row news-content">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>News and Updates</h2>
        <p>Here's where the fucking news and updates are gonna be</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>Upcoming Tours</h2>
        <p>Eventually I'll have some stupid tours here</p>
      </div>
    </div>
  </div>
</section>

