<h1>Add Album</h1>

<%=	simple_form_for @album do |f|  %>
  <%=	f.input :band_ids, collection: @bands, label: 'Select Band', input_html: { id: 'select-band' }  %>
  <%=	f.input :title, label: 'Album Title' %>
  <%= f.input :release_date, label: 'Release Date', as: :date, start_year: Date.today.year - 10,
      end_year: Date.today.year + 4 %>
    <%= f.fields_for :songs do |f| %>
      <%=	f.input :title, label: 'Song Title'  %>
      <%=	f.button :button, 'Add Song'  %>
    <% end %>
<% end %>