<section class="container-fluid all-bands-section">
  <h1>Our Artists</h1>
  <div class="band-list-container">
  <% @bands.each do |b| %>
    <div class="band-container">
      <%= image_tag('http://ima.ulximg.com/image/src/artist/1391012279_d428521060d785b162c08a607c6d937b.jpg/508a95e221b387af8689e1cfb31eeb3d/1391012279_limp_bizkit_50106dbb9da50_79.jpg', class: 'band-photo') %>
      <p><%= b.band_name %></p>
      <p><%=	b.albums.length  %>, albums</p>
      <%	b.albums.each do |a|  %>
          <p> - <%= a.title %>, <%= a.album_type %>, <%= a.release_date.to_formatted_s(:long_ordinal) %> </p>
      <% end %>
    </div>
  <% end %>
  </div>
  <p>I worked on an algorithm problem that I don't think I should have pushed to github.</p>
</section>


