<section class="single-band-section">

  <h1 class="band-name"><%= @band.band_name %></h1>
  <div class="container">
    <div class="row">
      <div class="band-profile col-md-6">
        <h3>About <%= @band.band_name %></h3>
        <%=	image_tag('http://shop.wwe.com/on/demandware.static/-/Sites/default/dwd8f17634/images/slot/landing/superstar-landing/Superstar-Category_Superstar_562x408_stoneCold.png', class: 'stock-photo')  %>
        <p>From: <%= @band.city %>, <%= @band.state %></p>
        <p>Formed on: <%=	@band.start_date.to_formatted_s(:long_ordinal) %></p>
        <p>Bio: <%= @band.bio %></p>
      </div>
      <div class="discography col-md-6">
        <h3>Discography</h3>
        <% @albums.each do |a| %>
            <p>
              <%= image_tag('https://www.smashingmagazine.com/images/music-cd-covers/1-2.jpg', class: 'album-art') %>
              <p><%= a.title %>, <%= a.release_date.to_formatted_s(:long_ordinal) %></p>
            </p>
        <% end %>
      </div>
    </div>
  </div>

</section>

